body {
  overflow-y: scroll;
  padding-top: 64px;
}

.container-left{
  width:100%;
  float:left;
}

.container-right{
  float:left;
}

.password-field {
  cursor: pointer;
  max-width: 10px;
}

.password-field:hover {
  background-color: #ddd;
}

.loader-holder {
  text-align: center;
  padding: 20px;
}

.loader {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.active-check {
  margin-left: 14px;
}

#clear {
  margin-left: -33px;
  color: #bbb;
  z-index: 100;
}

#clear:hover {
  color: #777;
}

.clear-hidden {
  opacity: 0;
}

.link-light{
  color: #f8f9fa;
}

.color-light{
  color: #f8f9fa;
}

.link-light:hover{
  color: #777;
}

.header {
  background-image: url("../images/header_help.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.error-hide, .warning-hide {
  display: none;
}

.verlopen .error-hide, .bijnaverlopen .warning-hide {
  display: inline !important;
}
